<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Street Fashion Map</title>
<link href="stylesheet.css" rel="stylesheet">
<link href="bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="jquery.js"></script>
<style>
#blacklight-map .leaflet-container {
  height: 848px;
}
</style>
</head>
<body>
  <div class="row">
    <div class="col-xs-12" id="map-back">
      <div class="row">
        <div class="col-xs-12">
          <h1 id="title-txt">Welcome to Street Fashion Map</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12"><h4>This webpage displays postings of photos of street fashion both on a map, and in list form.</h4></div>
      </div>
      <div id="documents" class="map">
        <%= render "map" %>
      </div>
    </div>
  </body>
  </html>
