<li class='media'>
<div class="panel panel-default">
  <div class="panel-heading" id="post-panel">
    <div class="panel-title">
      <h4 class='media-heading'>
        <%= link_to_map_document document, {:label => document_show_link_field(document), :counter => map_counter(document)} %>
      </h4>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-3">
        <%= render_thumbnail_img document, {:class => "sidebar-thumb media-object pull-left"}, {:label => document_show_link_field(document), :counter => map_counter(document), :search_context => map_building(document)} if document[:photo_ss] %>
      </div>
      <div class="col-xs-8">
      By <%= document[:artists_ss] %>
      <br>
      </div>
      <div class="col-xs-1"></div>
    </div>
  </div>
</div>
</li>
